<% form_tag({:controller => 'search', :action => 'search'}, {:id => 'search-form'}) do %>
  <input type="text" id="search-query" name="q" value="<%=h @query %>" />
  <input type="submit" value="<%=t 'search.button' %>" />
<% end %>
<% if @results %>
  <div id="search_results">
    <p><%=t 'search.result_for', :query => h(@query) %></p>
    <% if @results.empty? %>
      <p><%=t 'search.no_result' %></p>
    <% else %>
      <ul>
        <% @results.each do |result| %>
          <li>
            <% if result[:attachment] %>
              <%=link_to h("#{result[:attachment].page.namespace}/#{result[:attachment].page.name}/#{result[:attachment].name}@#{result[:attachment].revision.version}"), result[:attachment].url %>
            <% else %>
              <%=link_to h("#{result[:page].namespace}/#{result[:page].name}@#{result[:page].revision.version}"), result[:page].url %>
            <% end %>
            <span class="score"><%=result[:score].to_i*100 %>%</span>
            <br/>
            <%=result[:excerpt].join('<br/>') if result[:excerpt] %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>