<% form_tag({:controller => 'search', :action => 'search'}, {:id => 'search-form'}) do %>
  <input type="text" id="search-query" name="q" value="<%=h @query %>" />
  <input type="submit" value="<%=t 'search.button' %>" />
<% end %>
<% if @results %>
  <div id="search_results">
    <p><%=t 'search.result_for', :query => h(@query) %></p>
    <% if @results.empty? %>
      <p><%=t 'search.no_result' %></p>
    <% else %>
      <ul>
        <% @results.each do |result| %>
          <li>
            <%=link_to h("#{result[:namespace]}/#{result[:page]}"), url_for_page(result[:namespace], result[:page], result[:revision]) %>
            <span class="score"><%=result[:score].to_i*100 %>%</span>
            <br/>
            <%=result[:excerpt].join('<br/>') if result[:excerpt] %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>