<h2><%=t 'attachment.list' %></h2>
<table id="revisions" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th><%=t 'attachment.name' %></th>
      <th><%=t 'attachment.size' %></th>
      <th><%=t 'attachment.version' %></th>
      <th><%=t 'attachment.date' %></th>
      <th><%=t 'attachment.user' %></th>
      <th><%=t 'attachment.message' %></th>
    </tr>
  </thead>
  <tbody>
    <% cnt = 0 %>
    <% @attachments.each do |attachment| %>
      <tr class="<%=((cnt+=1)%2==0) ? 'even' : 'odd' %>">
        <td><%=link_to h(attachment[:name]), :controller => 'page', :action => 'attachment', :type => h(@type), :id => h(@page), :attachment => h(attachment[:name]) %></td>
        <td><%=h format_size(attachment[:revision].size) %></td>
        <td class="version"><%=link_to attachment[:revision].version, :controller => 'page', :action => 'attachment_info', :type => h(@type), :id => h(@page), :attachment => h(attachment[:name]) %></td>
        <td><%=l attachment[:revision].date, :format => :full %></td>
        <td><%=link_to h(attachment[:revision].user.username), :controller => 'page', :action => 'view', :type => Raki.userpage_type, :id => h(attachment[:revision].user.username) %></td>
        <td><%=h attachment[:revision].message %></td>
      </tr>
    <%  end %>
  </tbody>
</table>
<% if authenticated? %>
  <br/>
  <% form_tag({:controller => 'page', :type => h(@type), :id => h(@page), :action => 'attachment_upload'}, {:enctype => 'multipart/form-data'}) do |f| %>
    <div>
      <label for="attachment-file"><%=t 'attachment.upload.file' %></label>
      <input id="attachment-file" name="attachment_upload" size="30" type="file" />
    </div>
    <div>
      <label for="attachment-message"><%=t 'attachment.upload.message' %></label>
      <input type="text" id="attachment-message" name="message" />
    </div>
    <input type="submit" value="<%=t 'attachment.upload.save' %>" />
  <% end %>
<% end %>