<h2><%=t 'attachment.info.versions' %></h2>
<table id="revisions" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th><%=t 'page.info.version.id' %></th>
      <th><%=t 'page.info.version.date' %></th>
      <th><%=t 'page.info.version.size' %></th>
      <th><%=t 'page.info.version.user' %></th>
      <th><%=t 'page.info.version.message' %></th>
    </tr>
  </thead>
  <tbody>
    <% cnt = 0 %>
    <% @revisions.reverse_each do |revision| %>
      <tr class="<%=((cnt+=1)%2==0)?'even':'odd'%>">
        <td class="version"><%=link_to revision.version, :controller => 'page', :action => 'attachment', :type => h(@type), :id => h(@page), :attachment => h(@attachment), :revision => h(revision.id) %></td>
        <td><%=l revision.date, :format => :full %></td>
        <td><%=h format_size(revision.size) %></td>
        <td><%=link_to h(revision.user), :controller => 'page', :action => 'view', :type => :user, :id => h(revision.user) %></td>
        <td><%=h revision.message %></td>
      </tr>
    <%  end %>
  </tbody>
</table>