<h2><%=t 'attachment.info.versions' %></h2>
<table id="revisions" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th><%=t 'page.info.version.id' %></th>
      <th><%=t 'page.info.version.date' %></th>
      <th><%=t 'page.info.version.size' %></th>
      <th><%=t 'page.info.version.user' %></th>
      <th><%=t 'page.info.version.message' %></th>
    </tr>
  </thead>
  <tbody>
    <% cnt = 0 %>
    <% @attachment.revisions.reverse_each do |revision| %>
      <tr class="<%=((cnt+=1)%2==0) ? 'even' : 'odd' %>">
        <td class="version"><%=link_to revision.version, :controller => 'page', :action => 'attachment', :namespace => h(@page.namespace), :page => h(@page.name), :attachment => h(@attachment.name), :revision => h(revision.id) %></td>
        <td><%=l revision.date, :format => :full %></td>
        <td><%=h format_filesize(revision.size) %></td>
        <td><%=link_to h(revision.user.username), revision.user.page_url %></td>
        <td><%=h revision.message %></td>
      </tr>
    <%  end %>
  </tbody>
</table>