<% if authorized?(@namespace, @page, :rename) && page_exists?(@namespace, @page) %>
  <% form_tag({:controller => 'page', :namespace => h(@namespace), :page => h(@page), :action => 'rename'}) do %>
    <div>
      <% unless flash[:notice].nil? %>
        <div class="error"><%=flash[:notice] %></div>
      <% end %>
      <input type="text" id="page-name" name="name" value="<%=h @page %>" />
      <input type="submit" value="<%=t 'page.edit.rename' %>" />
    </div>
  <% end %>
<% end %>
<% if authorized?(@namespace, @page, :delete) && page_exists?(@namespace, @page) %>
  <input type="button" value="<%=t 'page.edit.delete' %>" onclick="javascript:if(confirm('<%=t 'page.edit.delete_question'%>')) location.href='<%=url_for :controller => 'page', :namespace => h(@namespace), :page => h(@page), :action => 'delete' %>';" />
  <br/>
<% end %>
<% if authorized?(@namespace, @page, :edit) && page_exists?(@namespace, @page) || authorized?(@namespace, @page, :create) && !page_exists?(@namespace, @page) %>
  <% form_tag({:controller => 'page', :namespace => h(@namespace), :page => h(@page), :action => 'update'}, {:id => 'edit-form'}) do %>
    <div>
      <input type="submit" value="<%=t 'page.edit.save' %>" />
      <input type="button" value="<%=t 'page.edit.preview' %>" onclick="javascript:document.getElementById('edit-form').action='<%=url_for :controller => 'page', :action => 'preview', :namespace => h(@namespace), :page => h(@page) %>'; document.getElementById('edit-form').submit();" />
      <input type="button" value="<%=t 'page.edit.abort' %>" onclick="javascript:location.href='<%=url_for :controller => 'page', :action => 'view', :namespace => h(@namespace), :page => h(@page) %>';" />
    </div>
    <div>
      <label for="page-message"><%=t 'page.edit.message' %></label>
      <input type="text" id="page-message" name="message" />
    </div>
    <%=render :partial => 'toolbar' %>
    <div>
      <textarea id="content" name="content" cols="100" rows="25"><%=h @content %></textarea>
    </div>
  <% end %>
  <div id="preview">
    <div id="preview-header"><input id="live-preview-switch" type="checkbox" /><%=t 'page.edit.live_preview' %><%=image_tag 'preview_loader.gif', :alt => 'Loading Preview', :id => 'live-preview-loader' %></div>
    <div id="preview-content"></div>
  </div>
<% end %>