<% if @page.locked? && @page.locked_by != User.current %>
  <div class="warning" id="lock_waring">
	<%=t 'page.edit.locked', :user => @page.locked_by.username %>
  </div>
<% end %>
<% if @page.authorized?(User.current, :rename) && @page.exists? %>
  <% form_tag(@page.url(:rename)) do %>
    <div>
      <% unless flash[:notice].nil? %>
        <div class="error"><%=flash[:notice] %></div>
      <% end %>
      <input type="text" id="page-name" name="name" value="<%=h @page.name %>" />
      <input type="submit" value="<%=t 'page.edit.rename' %>" />
    </div>
  <% end %>
<% end %>
<% if @page.authorized?(User.current, :delete) && @page.exists? %>
  <input type="button" value="<%=t 'page.edit.delete' %>" onclick="javascript:if(confirm('<%=t 'page.edit.delete_question'%>')) location.href='<%=@page.url(:delete) %>';" />
  <br/>
<% end %>
<% if @page.authorized?(User.current, :edit) && @page.exists? || @page.authorized?(User.current, :create) && !@page.exists? %>
  <% form_tag(@page.url(:update), {:id => 'edit-form'}) do %>
    <div>
      <input type="submit" value="<%=t 'page.edit.save' %>" />
      <input type="button" value="<%=t 'page.edit.preview' %>" onclick="javascript:document.getElementById('edit-form').action='<%=@page.url(:edit) %>'; document.getElementById('edit-form').submit();" />
      <input type="button" value="<%=t 'page.edit.abort' %>" onclick="javascript:location.href='<%=@page.url(:view) %>';" />
    </div>
    <div>
      <label for="page-message"><%=t 'page.edit.message' %></label>
      <input type="text" id="page-message" name="message" />
    </div>
    <div>
      <textarea name="content" cols="100" rows="25"><%=params[:content] || @page.content %></textarea>
    </div>
  <% end %>
  <% unless @preview.nil? %>
    <h2><%=t 'page.edit.preview' %></h2>
    <div id="preview">
      <%=@page.render context.merge({:preview => true}) %>
    </div>
  <% end %>
<% end %>