<h2><%=t 'page.info.versions' %></h2>
<%=form_tag(@page.url(:diff), :method => :get) do %>
  <table id="revisions" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th><%=t 'page.info.version.id' %></th>
	    <th></th>
	    <th></th>
        <th><%=t 'page.info.version.date' %></th>
        <th><%=t 'page.info.version.size' %></th>
        <th><%=t 'page.info.version.user' %></th>
        <th><%=t 'page.info.version.message' %></th>
      </tr>
    </thead>
    <tbody>
	  <% cnt = 0 %>
      <% @page.revisions.each do |revision| %>
        <% cnt += 1 %>
        <tr>
          <% if revision.deleted? %>
            <td class="version"><%=h revision.version %></td>
          <% else %>
            <td class="version"><%=link_to h(revision.version), @page.url(:revision => revision.id) %></td>
          <% end %>
          <td class="diff"><%=radio_button_tag 'revision_to', revision.id, (cnt==1) %></td>
          <td class="diff"><%=radio_button_tag 'revision_from', revision.id, (cnt==2) %></td>
          <td><%=l revision.date, :format => :full %></td>
          <td><%=h(revision.deleted? ? '' : format_filesize(revision.size)) %></td>
          <td><%=link_to h(revision.user.display_name), revision.user.page.url %></td>
          <td><%=h revision.message %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%=submit_tag(t('page.info.diff'), :name => nil) %>
<% end %>