<% if authenticated? %>
  <form action="<%=url_for :controller => 'page', :page => @page, :action => 'rename' %>" method="post">
    <div>
      <% unless flash[:notice].nil? %>
        <div class="error"><%=flash[:notice] %></div>
      <% end %>
      <input type="text" id="page-name" name="name" value="<%=@page%>" />
      <input type="submit" value="<%=t 'page.info.rename' %>" />
    </div>
  </form>
  <input type="button" value="<%=t 'page.info.delete' %>" onclick="javascript:location.href='<%=url_for :controller => 'page', :page => @page, :action => 'delete' %>';" />
<% end %>
<h2><%=t 'page.info.versions' %></h2>
<table id="revisions" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th><%=t 'page.info.version.id' %></th>
      <th><%=t 'page.info.version.date' %></th>
      <th><%=t 'page.info.version.user' %></th>
      <th><%=t 'page.info.version.message' %></th>
    </tr>
  </thead>
  <tbody>
    <% cnt = 0 %>
    <% @revisions.reverse_each do |revision|%>
      <tr class="<%=((cnt+=1)%2==0)?'even':'odd'%>">
        <td><%=link_to revision.version, :controller => 'page', :action => 'view', :page => @page, :revision => revision.revision %></td>
        <td><%=revision.date.strftime t('datetime_format') %></td>
        <td><%=revision.user%></td>
        <td><%=revision.message%></td>
      </tr>
    <%  end %>
  </tbody>
</table>
