<div id="login">
  <% form_tag({:controller => 'authentication', :action => 'login'}) do %>
    <% if flash[:notice] %>
      <div class="error"><%=h flash[:notice] %></div>
    <% end %>
    <% @form_fields.each do |field| %>
      <label for="login-<%=field[:name] %>"><%=field[:title] %></label>
      <input type="<%=field[:type] %>" id="login-<%=field[:name] %>" name="<%=field[:name] %>" />
      <br />
    <% end %>
    <input type="submit" value="<%=t 'auth.login' %>" />
    <input type="hidden" name="loginsubmit" value="true" />
  <% end %>
</div>