<div id="login">
  <%=form_tag({:controller => 'authentication', :action => 'login'}) %>
    <% unless flash[:notice].nil? %>
      <div class="error"><%=h flash[:notice] %></div>
    <% end %>
    <% @form_fields.each do |field| %>
      <label for="login-<%=field[:name]%>"><%=t field[:title] %></label>
      <input type="text" id="login-<%=field[:name]%>" name="<%=field[:name]%>" />
      <br />
    <% end %>
    <input type="submit" value="<%=t 'auth.login' %>" />
    <input type="hidden" name="loginsubmit" value="true" />
  <% $end %>
</div>