<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="generator" content="Raki wiki engine"/>
    <title><%=h "#{Raki.app_name} :: #{@title}" %></title>
    <%=stylesheet_link_tag 'application', :media => 'all' %>
    <%=plugin_stylesheets %>
    <%=javascript_include_tag 'application' %>
    <link rel="shortcut icon" type="image/x-icon" href="<%=url_for '/favicon.ico' %>" />
    <link rel="icon" type="image/x-icon" href="<%=url_for '/favicon.ico' %>" />
  </head>
  <body>
    <div id="container">
      <div id="left">
        <div id="logo">
          <%=link_to image_tag('raki_logo.png', :alt => 'Raki'), :controller => 'page', :action => 'redirect_to_frontpage' %>
        </div>
        <div id="left_menu">
          <%=insert_page :page, 'LeftMenu' %>
        </div>
        <div id="left_menu_footer">
          <%=insert_page :page, 'LeftMenuFooter' %>
        </div>
		<div id="global_feed">
          <%=link_to image_tag('feed.png', :alt => 'Feed'), {:controller => 'feed', :action => 'feed'}, {:title => t('feed', :app_name => Raki.app_name), :class => 'feed'} %>
          <%=auto_discovery_link_tag :rss, {:controller => 'feed', :action => 'feed'}, :title => t('feed', :app_name => Raki.app_name) %>
        </div>
        <div id="application_info">Raki v<%=Raki.version %></div>
      </div>
      <div id="main">
        <div id="auth">
          <%=render :partial => 'layouts/auth' %>
        </div>
        <div id="page_title"><%=h @title %></div>
        <div id="visted_pages">
	      <% unless session[:visited_pages].empty? %>
	        <%=t 'visited_pages' %>:
            <%=session[:visited_pages].collect{|p| link_to "#{p[:type]}/#{p[:page]}", url_for_page(h(p[:type]), h(p[:page]))}.join(', ') %>
          <% end %>
        </div>
        <div id="content_container">
          <div id="controls">
            <%=render :partial => "#{controller_name}/tabs" %>
          </div>
          <div id="page">
            <%=yield %>
          </div>
          <%=render :partial => "layouts/page_footer" %>
          <div id="footer">
		    Icons by Yusuke Kamiyamane <a href="http://p.yusukekamiyamane.com/">http://p.yusukekamiyamane.com/</a>.
		  </div>
        </div>
        <br class="clear" />
      </div>
    </body>
  </html>
