<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%=h "#{Raki.app_name} :: #{@title}" %></title>
    <%=stylesheet_link_tag :all, :media => 'all' %>
    <%=plugin_stylesheets %>
    <link rel="shortcut icon" type="image/x-icon" href="<%=url_for '/favicon.ico' %>" />
    <link rel="icon" type="image/x-icon" href="<%=url_for '/favicon.ico' %>" />
  </head>
  <body>
    <div id="container">
      <div id="left">
        <div id="logo">
          <%=link_to image_tag('raki_logo.png', :alt => 'Raki'), :controller => 'page', :page => Raki.frontpage, :action => 'view' %>
        </div>
        <div id="left_menu">
          <%=insert_page 'LeftMenu' %>
        </div>
        <div id="left_menu_footer">
          <%=insert_page 'LeftMenuFooter' %>
        </div>
        <div id="application_info">Raki v<%=Raki.version %></div>
      </div>
      <div id="main">
        <div id="auth">
          <%=render :partial => 'layouts/auth' %>
        </div>
        <div id="page_title"><%=@title %></div>
        <div id="content_container">
          <div id="controls">
            <%=render :partial => "#{controller_name}/tabs" %>
          </div>
          <div id="page">
            <%=yield %>
          </div>
          <% unless @page_info.nil? %>
            <div id="page_footer">
              <%=t 'page.footer',
                :date => @page_info[:date],
                :user => link_to(@page_info[:user], :controller => 'user_page', :action => 'view', :user => @page_info[:user]),
                :version => @page_info[:version] %>
            </div>
          <% end %>
        </div>
      </div>
      <br class="clear" />
    </div>
  </body>
</html>