<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="generator" content="Raki wiki engine"/>
    <title><%=h "#{Raki.app_name} :: #{@title}" %></title>
    <%=stylesheet_link_tag 'application', :media => 'all' %>
    <%=plugin_stylesheets %>
    <link rel="shortcut icon" type="image/x-icon" href="<%=url_for '/favicon.ico' %>" />
    <link rel="icon" type="image/x-icon" href="<%=url_for '/favicon.ico' %>" />
    <%=auto_discovery_link_tag :rss, {:controller => 'feed', :action => 'global'}, :title => t('feed.global', :app_name => Raki.app_name) %>
	<% if @page %>
	  <%=auto_discovery_link_tag(:rss, {:controller => 'feed', :action => 'namespace', :namespace => h(@page.namespace)}, :title => t('feed.namespace', :namespace => h(@page.namespace))) %>
      <% if @page.authorized?(User.current, :view) %>
	    <%=auto_discovery_link_tag(:rss, {:controller => 'feed', :action => 'page', :namespace => h(@page.namespace), :page => h(@page.name)}, :title => t('feed.page', :namespace => h(@page.namespace), :page => h(@page.name))) %>
	  <% end %>
	<% end %>
  </head>
  <body>
    <div id="container">
      <div id="left">
        <div id="logo">
          <%=link_to image_tag('raki_logo.png', :alt => 'Raki'), :controller => 'page', :action => 'redirect_to_frontpage' %>
        </div>
        <div id="left_menu">
          <%=insert_page Page.find(:page, 'LeftMenu') %>
        </div>
        <div id="left_menu_footer">
          <%=insert_page Page.find(:page, 'LeftMenuFooter') %>
        </div>
		<div id="global_feed">
          <%=link_to image_tag('feed.png', :alt => 'Feed'), {:controller => 'feed', :action => 'global'}, {:title => t('feed.global', :app_name => Raki.app_name), :class => 'feed'} %>
        </div>
        <div id="application_info"><%=link_to 'Raki', 'http://github.com/ydkn/raki' %> v<%=Raki.version %></div>
      </div>
      <div id="main">
        <div id="auth">
          <%=render :partial => 'layouts/auth' %>
        </div>
        <div id="page_title"><%=h @title %></div>
        <div id="visted_pages">
	      <% unless session[:visited_pages].empty? %>
	        <%=t 'visited_pages' %>:
            <%=session[:visited_pages].collect{|p| link_to "#{p[:namespace]}/#{p[:page]}", url_for_page(h(p[:namespace]), h(p[:page]))}.join(', ') %>
          <% end %>
        </div>
        <div id="content_container">
          <div id="controls">
            <%=render :partial => "#{controller_name}/tabs" %>
          </div>
          <div id="page">
            <%=yield %>
          </div>
		  <div id="page_footer">
			<%=render :partial => "#{controller_name}/footer" %>
		  </div>
          </div>
        </div>
        <br class="clear" />
      </div>
    </body>
  </html>
