<!DOCTYPE HTML>
<html>
  <head>
	  <%=render :partial => 'layouts/header' %>
  </head>
  <body>
    <section id="left">
      <header id="logo">
        <%=link_to image_tag('raki_logo.png', :alt => 'Raki'), :controller => 'page', :action => 'redirect_to_frontpage' %>
      </header>
      <aside id="left_menu">
        <%=insert_page Page.find(:page, 'LeftMenu') %>
      </aside>
      <aside id="left_menu_footer">
        <%=insert_page Page.find(:page, 'LeftMenuFooter') %>
      </aside>
      <footer>
        <%=link_to image_tag('feed.png', :alt => 'Feed', :id => 'global_feed'), {:controller => 'feed', :action => 'global'}, {:title => t('feed.global', :app_name => Raki.app_name), :class => 'feed'} %>
        <div id="application_info"><%=link_to 'Raki', 'http://github.com/ydkn/raki' %> v<%=Raki.version %></div>
      </footer>
    </section>
    
    <section id="main">
      <header>
        <div id="auth">
          <%=render :partial => 'layouts/auth' %>
        </div>
        <h1 id="page_title"><%=h @title %></h1>
        <nav id="visited_pages">
          <% unless visited_pages.empty? %>
            <%=t 'visited_pages' %>:
            <%=visited_pages.collect{|p| link_to "#{p.namespace}/#{p.name}", p.url}.join(', ').html_safe %>
          <% end %>
        </nav>
      </header>
      
      <nav id="controls">
        <%=render :partial => "#{controller_name}/tabs" %>
      </nav>
      <article id="page">
        <%=yield %>
      </article>
      <footer>
        <%=render :partial => "#{controller_name}/footer" %>
      </footer>
    </section>
    
    <footer>
      Icons by Yusuke Kamiyamane <a href="http://p.yusukekamiyamane.com/">http://p.yusukekamiyamane.com/</a>.
    </footer>
  </body>
</html>
